footer {
    background-color: #ffd543;
    color: #1f1615;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-section h3 {
    margin-bottom: 30px;
    font-size: 25px;
    font-family: Fjalla One;
}

.footer-section p {
    font-size: 16px;
    line-height: 1.5;
}

.social {
    display:flex;
    justify-content: flex-end;
    flex: 0;
}

.social a {
    margin-right: 30px;
}

.social img {
    width: 50px;
    height: 50px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        padding-top: 0px;
        align-items: flex-start;
    }

    .footer-section {
        margin: 20px;
        margin-left: 0;
    }

    .footer-section h3 {
        padding-bottom: 15px;
    }
}

@media (min-width: 769px) {
    .footer-section.choco-pap {
        flex: 0 0 350px; /* Définit une largeur fixe */
        max-width: 350px; /* Limite la largeur maximale */
    }
}